@import url(https://fonts.googleapis.com/css?family=Overpass:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* VARIABLES */
:root {
  --primary-color: #c04ae2;
  --secondary-color: #111111;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Outfit", sans-serif;

  /* Variables for storing colors */
  --card-clr: #161922;
  --body-clr: #191d28;
  --primary-clr: #f0bf6a;
  --heading-clr: #dadada;
  --text-clr: #767a86;
}

/* RESET DEFAULT STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
  margin-bottom: 1rem;
}

/* UTILITY CLASSES */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-primary {
  color: var(--primary-color);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.btn {
  display: inline-block;
  max-width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-primary:hover {
  background-color: #a03dd1;
}

.btn-secondary {
  border: 1px solid var(--primary-color);
}

.btn-secondary:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.section-subheading {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.section-heading {
  font-size: 3rem;
  max-width: 600px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.section-heading.left {
  margin-right: auto;
}

.section-heading.right {
  margin-left: auto;
}

/* GLOBAL STYLES */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  color: var(--secondary-color);
}

section {
  position: relative;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

/* HEADER */
header {
  padding: 1rem 0;
  width: 100%;
  position: absolute;
  z-index: 1000;
}
header.sticky {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header__logo img {
  width: 100px;
}
.header__menu {
  gap: 1rem;
}
.header__menu li a {
  font-size: 0.8rem;
  font-weight: 600;
  transition: color 0.3s;
}
header .right {
  gap: 1rem;
}
.menu-btn {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* ABOUT */

#hero {
  min-height: 100vh;
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='6.27'%3E%3Cpath transform='translate(-24.5 5.6) rotate(3.5 1409 581) scale(1.014)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='2.09' transform='translate(-14 14) rotate(4.2 800 450) scale(1.007)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(12.6 -42) rotate(42 401 736) scale(1.007)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1.9'%3E%3Cpath transform='translate(84 -5.6) rotate(1.4 150 345) scale(0.986)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='4.18' transform='translate(-56 -35) rotate(50.4 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-84 28) rotate(8.4 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
.hero__content {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__content h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
}

.hero__content p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.hero__img {
    width: 60%;
  margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
  gap: 1rem;
}
.hero__img img {
  height: 300px;
  object-fit: cover;
  width: 300px;
}
.hero__img img:nth-child(1) {
  border-radius: 100px 0 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.hero__img img:nth-child(2) {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.hero__img img:nth-child(3) {
  border-radius: 0 0 100px 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.hero__img img:nth-child(4) {
  border-radius: 0 100px 100px 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.feature {
  padding: 2rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color);
}
.feature__icon {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--color);
}
.feature__title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.feature__text {
  font-size: 1rem;
  font-weight: 300;
}

.about__details {
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
}
.about__details-content {
  width: 50%;
}
.about__details-content h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}
.about__details-content p {
  font-size: 1rem;
  font-weight: 300;
}
.about__details-content .btn {
  margin-top: 1rem;
}
.about__details-img {
  width: 50%;
}
/* SERVICES */

#services .section-heading,
#services .section-subheading {
  text-align: right;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.service {
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.service__icon{
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}
.service__title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.service__text {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.service .arrow-icon {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-left: auto;
  transition: transform 0.3s;
}
.service:hover .arrow-icon {
  transform: translateX(5px);
}

/* Projects */

.projects {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 5rem;
}
.project {
  display: flex;
  gap: 10%;
  align-items: center;
}
.project:nth-child(even) {
  flex-direction: row-reverse;
}
.project__img {
  position: relative;
  min-width: 35%;
}
.project__img::after {
  content: "";
  position: absolute;
  top: -20px;
  width: 90%;
  height: 90%;
  border-radius: 0.5rem;
  z-index: 1;
  border: 4px solid;
}

.project:nth-child(odd) .project__img::after {
  left: -20px;
}
.project:nth-child(even) .project__img::after {
  right: -20px;
}
.project:nth-child(1) .project__img::after {
  border-color: #ccc;
}
.project:nth-child(2) .project__img::after {
  border-color: #6bc2ed;
}
.project:nth-child(3) .project__img::after {
  border-color: #fed440;
}

.project__category {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 1rem;
}
.project__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.project__text {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
/* TEAM */
.platforms {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.platform{
  width: 150px;
}
/* TESTIMONIALS */

.testimonials-body {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body-clr);
}
.testimonials-section {
  width: 100%;
  padding: 0px 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials-section .section-header {
  max-width: 700px;
  text-align: center;
}
.section-header h1 {
    margin-top: 3rem;
  position: relative;
  font-size: 36px;
  color: var(--primary-clr);
}
.testimonials-container {
  position: relative;
  margin: 1rem 0;
}
.testimonials-container .testimonial-card {
  padding: 20px;
}
.testimonial-card .test-card-body {
  background-color: var(--card-clr);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.12);
  padding: 20px;
}
.test-card-body .quote {
  display: flex;
  align-items: center;
}
.test-card-body .quote i {
  font-size: 45px;
  color: var(--heading-clr);
  margin-right: 20px;
}
.test-card-body .quote h2 {
  color: var(--heading-clr);
}
.test-card-body p {
  margin: 10px 0px 15px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-clr);
}
.test-card-body .ratings {
    color: var(--primary-clr);
  margin-top: 20px;
}
.test-card-body .ratings i {
  font-size: 17px;
  color: var(--primary-clr);
  cursor: pointer;
}
.testimonial-card .profile {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.profile .profile-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}
.profile .profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.profile .profile-desc {
  display: flex;
  flex-direction: column;
}
.profile-desc span:nth-child(1) {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-clr);
}
.profile-desc span:nth-child(2) {
  font-size: 15px;
  color: var(--text-clr);
}
.owl-nav {
  position: absolute;
  right: 20px;
  bottom: -10px;
}
.owl-nav button {
  border-radius: 50% !important;
}
.owl-nav .owl-prev i,
.owl-nav .owl-next i {
  padding: 10px !important;
  border-radius: 50%;
  font-size: 18px !important;
  background-color: var(--card-clr) !important;
  color: var(--primary-clr);
  cursor: pointer;
  transition: 0.4s;
}
.owl-nav .owl-prev i:hover,
.owl-nav .owl-next i:hover {
  background-color: var(--primary-clr) !important;
  color: #e9e9e9;
}
.owl-dots {
  margin-top: 15px;
}
.owl-dots .owl-dot span {
  background-color: #434753 !important;
  padding: 6px !important;
}
.owl-dot.active span {
  background-color: var(--primary-clr) !important;
}

/* RESULT */
#result {
  background-color: #f9f9f9;
  padding: 5rem 0;
}
.result-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.result-container img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* FOOTER */

footer {
  padding: 2rem 0;
}
.footer__content {
  display: grid;
  gap: 5rem;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}
.footer__logo img {
  width: 100px;
}
.footer__text {
  font-size: 0.9rem;
  font-weight: 300;
  color: #767a86;
  margin-bottom: 1rem;
}
.footer__newsletter {
  position: relative;
}
.footer__newsletter input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  background-color: #f3f9fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.footer__newsletter .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary-color);
  cursor: pointer;
}
.footer__menu-list {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  font-size: 0.8rem;
  color: #767a86;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #767a86;
  margin-top: 3rem;
}
.footer__bottom-icons {
  display: flex;
  gap: 1rem;
}
.facebook {
  color: #3b5998;
}
.twitter {
  color: #00acee;
}
.instagram {
  color: #e4405f;
}
.reddit {
  color: #ff4500;
}
/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  /* GLOBAL */
  .container {
    padding: 0 1rem;
  }
  section {
    padding-top: 2rem !important;
    padding-bottom: 3rem !important;
  }
  .section-heading {
    font-size: 2rem;
  }

  /* HEADER */
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.3s;
  }
  .header__menu.show {
    transform: translateX(0);
  }
  .header__menu li {
    margin: 1rem 0;
  }
  .menu-btn {
    display: block;
    z-index: 99;
  }

  /* HERO */
  #hero {
    flex-direction: column;
    justify-content: center;
  }
  .hero__content {
    width: 100%;
    text-align: center;
  }
  .hero__content h1 {
    font-size: 2.5rem;
  }
  .hero__content .btn {
    margin: 0 auto;
  }
  .hero__img {
    width: 100%;
  }
  .hero__img img {
    height: 150px;
    object-fit: cover;
    width: 150px;
  }

  /* ABOUT */
  .features {
    grid-template-columns: repeat(1fr);
  }
  .feature {
    padding: 1rem;
  }
  .about__details {
    flex-direction: column;
  }
  .about__details-content,
  .about__details-img {
    width: 100%;
  }
  /* PROJECTS */
  .project {
    flex-direction: column !important;
    gap: 2rem;
  }
  .project__img {
    width: 100%;
    max-width: 300px;
  }
  .project__title {
    font-size: 1.5rem;
  }

  /* TEAM */
  .platform{
    width: 100px;
  }

  /* TESTIMONIALS */

  /* CONTACT */

  /* FOOTER */
  .footer__content {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .footer__bottom {
    flex-direction: column;
    text-align: center;
  }
}
